<li class="logo">

    {{#link-to "index" class="deep-orange-text text-lighten-2"}}
        GraphQl API
    {{/link-to}}

</li>

{{#each-in types as | type item | }}
    <li class="{{if (or (eq router.currentRouteName item.indexRoute) (eq router.currentRouteName item.itemRoute)) "active" "bold"}}">
        {{#link-to item.indexRoute class="waves-effect waves-teal"}} {{item.name}} {{/link-to}}
    </li>
{{/each-in}}