<div class="row">

    <div class="s12">

        <div class="divider"></div>

        {{type-block
                data=model
                type="INTERFACE"
                isHeaderVisible=false
                class="section"
        }}

    </div>

</div>