<div class="row">
    <div class="s12">
        {{#each fields as | field |}}

            {{object-item class="section" data=field}}
            <div class="divider"></div>

        {{/each}}
    </div>
</div>