<div class="row">
    <div class="s12">

        <h5>{{t "possible_types"}}</h5>

        {{#each fields as | field |}}

            {{object-item class="section" data=field isUnion=true}}
            <div class="divider"></div>

        {{/each}}
    </div>
</div>